<!DOCTYPE html>
<html>
    <head>
        <title>Som</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="index.css"/>
    </head>
<body>
    <div class = "js-clock clock">
        <h1>00:00</h1>
    </div>
    <button class = "js-prevList"><</button>
    <button class = "js-nextList">></button>
    <form class = "js-form form">
        <input class="input" type="text" placeholder="what is your name?" />
    </form>
    <h4 class="js-greetings greetings"></h4>
    <form class="js-toDoForm toDo-form" >
        <input class="input" type="text" placeholder="Write to do" />
    </form>
    <ul class="js-toDoList toDo-list">
    </ul>
    <span class="js-weather weather" ></span>
    <script src="clock.js"></script>
    <script src="greeting.js"></script>
    <script src="todo.js"></script>
    <script src="weather.js"></script>
</body>
</html>